## Output Formatting:
    - ,
    - %
    - .format => (pyformat.info)

In [4]:
n,m = input("Enter First value: "),input("Enter Secomd value: ")
print("Entered First Number is: ",n,"and second value is : ",m)
print("Entered First Number is: %s and second value is: %s"%(n,m))
print("Entered First Number is: {} and second value is: {}"
      .format(n,m))

Enter First value: 45
Enter Secomd value: 278
Entered First Number is:  45 and second value is :  278
Entered First Number is: 45 and second value is: 278
Entered First Number is: 45 and second value is: 278

## Operators:
    - Arithmetic => +,-,*,/,%,floor Division(//),(power)**
    - Logical => AND,OR,NOT,XOR
    - Bitwise => &&,||,~,>>,<<
    - Assignment => +=,-=,//=,/=,%=,*=
    - Relational => >,<,<=,>=,!=,==
    - Membership => in,not in
    - Identity => is,is not

## Type Casting:
        - To change the data type from one data type to another data type
        - int()
        - float()
        - str()
        - All Data Structures like [list,tuple,set,dictionary]

In [8]:
n = input()
print("Entered Value is: {}".format(int(n)+12))
print(n,type(n))

r

ValueError: invalid literal for int() with base 10: 'r'

In [11]:
m = int(input("Enter a number: "))
print(m,type(m))

Enter a number: 45.0000

ValueError: invalid literal for int() with base 10: '45.0000'

In [13]:
m = float(input("Enter a number: "))
print(m,type(m))

Enter a number: 4578.05451354
4578.05451354 <class 'float'>

```
Input:
    65
Output:
    Entered Number is: 65 and its floating value is: 65.00
    Entered Number is: 65 and its string format is: '65'
```

In [16]:
n = int(input())
print("Entered Number is: {} and its floating value is: {}"
      .format(n,float(n)))
print("Entered Number is: {} and its String value is: '{}'"
      .format(n,str(n)))

65
Entered Number is: 65 and its floating value is: 65.0
Entered Number is: 65 and its String value is: '65'

## Conditional Statements:
    - To check whether a given condition is Either True or False
    - if => single case
    - if-else => 2 cases
    - nested if => 3 or more cases
    - elif => 3 or more n number of cases

## If:
    Syntax:
        if condition:
            //stmnts

In [18]:
d = int(input())
if d == 45:
    print("Given number {} is equal to 45".format(d))

45
Given number 45 is equal to 45

In [25]:
print("----------Create User-----------")
j = input("Create Username: ")
print("{} User Created Successfully".format(j))
print("----------Check Usernames-----------")
na = input("Enter Your Name: ")
if na == j:
    print("Entered Name {} is equal to {}".format(na,j))

----------Create User-----------
Create Username: rajesh
rajesh User Created Successfully
----------Check Usernames-----------
Enter Your Name: rajesh
Entered Name rajesh is equal to rajesh

## If-else:
    Syntax:
        if (condition-1):
            //stmnt-1
        else:
            //stmnt-2

In [29]:
m = int(input("Enter a number: "))
if m > 100:
    print("Entered Number {} is greater than 100".format(m))
else:
    print("Entered Number {} is lesser than 100".format(m))

Enter a number: 2
Entered Number 2 is lesser than 100

## Nested If
    Syntax:
        For this else and nested if or elif is optional case
        if condition-1:
            if condition-2:
                //stmnt-1
            else:
                //stmnt-2
        else:
            //stmnt-3

In [32]:
n = int(input("Enter a number: "))
if n>100:
    if n<500:
        print("Entered Number {} is Lesser than 500".format(n))
    else:
        print("Entered Number {} is Greater than 500".format(n))
else:
    print("Entered Number {} is Lesser than 100".format(n))

Enter a number: 800
Entered Number 800 is Greater than 500

## Elif
    Syntax:
        if condition-1:
            //stmnt-1
        elif condition-2:
            //stmnt-2
            |       |
        elif condition-n:
            //stmnt-n
        else:
            //stmnt-(n-1)

In [6]:
n=int(input())
if n==35:
    print("Enter Number {} equal to 35".format(n))
elif n%2==0:
    print("Enter Number {} is even".format(n))
elif n%5==0:
    print("Enter number {} is divisible by 5".format(n))
elif n>35 and n<100:
    print("Enter number {} is in a range between 35 and 100".format(n))
else:
    print("Enter Number {} is Greater than 100".format(n))

175
Enter number 175 is divisible by 5