## Control Statements or Loops or Iterations or Repititions
    - To Control the flow of execution
    - for => For known ranges
    - while => For known and unknown ranges

## for
    Syntax:
        for iterationvariablename in range(start,stop,step):
            //stmnts
        
        for iterationvariablename in iterator:
            //stmnts
        Iterators: List,Tuple,Set,String and Dictionary

## Range method
    - range(stop)
        - By default it starts with 0
        - It stops a value at stop-1
        - By default it increments with 1
        - Ex:
            range(5):
            0 1 2 3 4
    - range(start,stop):
        - By default it starts with exactly start value
        - It stops a value at stop-1
        - By default it increments with 1
        - Ex:
            range(10,16):
            10 11 12 13 14 15
    - range(start,stop,step):
        - By default it starts with exactly start value
        - It stops a value at stop-1
        - By default it increments/decrements with step value
        - Ex:
            range(15,20,2):
            15 17 19
            
            range(20,10,-3):
            20 17 14 11

In [4]:
n = int(input("Enter a number: "))
for ramu in range(n):
    print(ramu,end=" ")

Enter a number: 10
0 1 2 3 4 5 6 7 8 9

In [9]:
m = int(input("Enter a range: "))
for j in range(m):
    if j == 5:
        print(j,end=" ")
print(j)

Enter a range: 10
5 9

In [11]:
st = int(input("Enter starting range: "))
stp = int(input("Enter stopping range: "))
for i in range(st,stp):
    print(i,end=" ")

Enter starting range: 4
Enter stopping range: 10
4 5 6 7 8 9

In [29]:
st = int(input("Enter starting range: "))
stp = int(input("Enter stopping range: "))
for i in range(st,stp+1):
    print(stp-i+st,end=" ")

Enter starting range: 100
Enter stopping range: 120
120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100

In [28]:
n = int(input("Enter a range: "))
for j in range(n):
    print(n-j,end=" ")

Enter a range: 10
10 9 8 7 6 5 4 3 2 1

In [ ]:
Input:
        18
        22
Output:
        224M1A0218
        214M1A0219
        204M1A0220
        194M1A0221
        184M1A0222

In [38]:
n = int(input())
m = int(input())
for i in range(n,m+1):
    print("{}4M1A02{}".format(m-i+n,i))

18
22
224M1A0218
214M1A0219
204M1A0220
194M1A0221
184M1A0222

In [45]:
n = int(input())
m = int(input())
g = int(input())
for j in range(n,m,g):
    print(j,end=" ")

-20
10
2
-20 -18 -16 -14 -12 -10 -8 -6 -4 -2 0 2 4 6 8

## While:
    Syntax:
        initialisation
        while condition:
            //stmnts
            incr/decr

In [2]:
n = int(input())
i = 10
while i!=n:
    print(i,end=" ")
    i +=1

20
10 11 12 13 14 15 16 17 18 19

In [5]:
m = int(input())
while m!=-1:
    print(m,end=" ")
    m -=1

40
40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [3]:
while True:
    n = int(input())
    if n == 1:
        print("First Value")
    elif n == 20:
        print("Values are greater than 20")
    elif n<=50:
        print("Values are lower than 50")
    elif n == 500:
        break
    else:
        print("Values are not equal to 20 and 50")

1
First Value
500

In [10]:
n = int(input())
r = 0
print("Given number {} and".format(n),end=" ")
while n!=0:
    r = r*10+n%10
    n //=10
print("its reverse is: {}".format(r))

7854
Given number 7854 and its reverse is: 4587

In [14]:
n = int(input())
r = 0
print("Given number {} and its even numbers are: ".format(n),end=" ")
while n!=0:
    k = n%10
    if k%2==0:
        r = r*10+k
    n //=10
while r!=0:
    print("{}".format(r%10),end=" ")
    r //=10

124875
Given number 124875 and its even numbers are:  2 4 8

In [16]:
n = int(input())
c = 0
print("Given number is: {}".format(n),end=" ")
while n!=0:
    n//=10
    c +=1
print("Digits count is: {}".format(c))

127653162538912741268652347527385465347652364
Given number is: 127653162538912741268652347527385465347652364 Digits count is: 45

## Jumping Statements:
    - break => It exists from the loop
    - continue => It skips a value from a loop
    - pass => For future enhancements development and it works like continue also
    - return => It returns a single or n number of values while using functions.

## Break

In [17]:
n = int(input())
for i in range(n):
    if i == 5:
        break
    else:
        print(i,end=" ")

20
0 1 2 3 4

In [18]:
n = int(input())
for i in range(n):
    if i == 5:
        continue
    else:
        print(i,end=" ")

20
0 1 2 3 4 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [20]:
n = int(input())
for i in range(n):
    if i%2!=0:
        continue
    else:
        print(i,end=" ")

10
0 2 4 6 8

In [23]:
n = int(input())
for i in range(n):
    if i%2!=0:
        pass
    else:
        print(i,end=" ")

10
0 2 4 6 8

## Inner Loop:
    - Loop within a loop

In [27]:
n = int(input())
for i in range(n):
    for j in range(n):
        print("{}{}".format(i,j),end=" ")
    print()

3
00 01 02
10 11 12
20 21 22

In [32]:
n = int(input())
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

4
* * * *
* * * *
* * * *
* * * *

In [33]:
n = int(input())
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

5
*
* *
* * *
* * * *
* * * * *

```
Input:
        3
Output:
    * * *
    *   *
    * * *
```