## Dictionary:
    - It can be represented as {}
    - By default {} is dictionary
    - It stores the data in key and value pair format
    - Keys cant allow duplicates but values can
    - It can be typecasted as dict() but it should follows the key and value pair
    - Slicing can be done for only values but not keys

In [1]:
f = {}
print(f,type(f))

{} <class 'dict'>

In [5]:
g = {"name":"rajesh","rollno":452,"sal":[15420,15420,46556],'sal':45200}
print(g)

{'name': 'rajesh', 'rollno': 452, 'sal': 45200}

In [6]:
print(g['name'])

rajesh

In [9]:
t = {'names':['rajesh','lalitha','somu'],'roll':[45,78]}
print(t)

{'names': ['rajesh', 'lalitha', 'somu'], 'roll': [45, 78]}

In [11]:
print(t['names'][1])

lalitha

In [12]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [38]:
z = {}
s = ['sno','name','age']
r = [1,'ramu',50]
# y = [[1,2,3,4],['manikanta','prasad'],[20,60]]
for i in s:
    z = z.fromkeys({s:i})
z

TypeError: unhashable type: 'list'

In [39]:
print(t)

{'names': ['rajesh', 'lalitha', 'somu'], 'roll': [45, 78]}

In [40]:
print(t['names'])

['rajesh', 'lalitha', 'somu']

In [41]:
t.get('names')

['rajesh', 'lalitha', 'somu']

In [42]:
print(t.items())

dict_items([('names', ['rajesh', 'lalitha', 'somu']), ('roll', [45, 78])])

In [43]:
print(t.keys())

dict_keys(['names', 'roll'])

In [44]:
print(t.values())

dict_values([['rajesh', 'lalitha', 'somu'], [45, 78]])

In [45]:
print(t)
t.pop()
print(t)

{'names': ['rajesh', 'lalitha', 'somu'], 'roll': [45, 78]}

TypeError: pop expected at least 1 arguments, got 0

In [46]:
print(t)
t.pop('roll')
print(t)

{'names': ['rajesh', 'lalitha', 'somu'], 'roll': [45, 78]}
{'names': ['rajesh', 'lalitha', 'somu']}

In [47]:
print(t)
t['sal'] = [20120,546465]
print(t)

{'names': ['rajesh', 'lalitha', 'somu']}
{'names': ['rajesh', 'lalitha', 'somu'], 'sal': [20120, 546465]}

In [48]:
print(t)
t.popitem()
print(t)

{'names': ['rajesh', 'lalitha', 'somu'], 'sal': [20120, 546465]}
{'names': ['rajesh', 'lalitha', 'somu']}

In [49]:
print(t)
t.setdefault('age')
print(t)

{'names': ['rajesh', 'lalitha', 'somu']}
{'names': ['rajesh', 'lalitha', 'somu'], 'age': None}

In [50]:
print(t)
t.setdefault('age':25)
print(t)

SyntaxError: invalid syntax (<ipython-input-50-6bed9fd64500>, line 2)

In [51]:
print(t.get('age'))

None

In [52]:
print(t)
t['age'] = 48
print(t)

{'names': ['rajesh', 'lalitha', 'somu'], 'age': None}
{'names': ['rajesh', 'lalitha', 'somu'], 'age': 48}

In [53]:
print(t)
t.update({'age':20})
print(t)

{'names': ['rajesh', 'lalitha', 'somu'], 'age': 48}
{'names': ['rajesh', 'lalitha', 'somu'], 'age': 20}

In [54]:
print(t.values())

dict_values([['rajesh', 'lalitha', 'somu'], 20])

In [60]:
ty = {}
n = int(input("Enter how many records you need to insert: "))
for i in range(1,n+1):
    sname=input("Enter Student Name: ")
    syr = int(input("Enter Studnet Year: "))
    y = "204M1A020"+str(i)
    ty[y] = [sname,syr]
print(ty)

Enter how many records you need to insert: 3
Enter Student Name: ramu
Enter Studnet Year: 4
Enter Student Name: somu
Enter Studnet Year: 2
Enter Student Name: kiran3
Enter Studnet Year: 3
{'204M1A0201': ['ramu', 4], '204M1A0202': ['somu', 2], '204M1A0203': ['kiran3', 3]}

In [61]:
print(ty)

{'204M1A0201': ['ramu', 4], '204M1A0202': ['somu', 2], '204M1A0203': ['kiran3', 3]}

In [64]:
ty['204M1A0201']

['ramu', 4]

In [65]:
cnt = {}

In [73]:
na = input("Enter Contact Name: ")
if na not in cnt.keys():
    mb = int(input("Enter Contact Number: "))
    cnt[na] = mb
else:
    print("{} Contact Already Exists".format(na))
print(cnt)

Enter Contact Name: ramu
ramu Contact Already Exists
{'ramu': 7845896854, 'prasad': 8978458785, 'kiran': 7854785985}

In [77]:
t = ['sno','name']
y = [[1,2,3],['ramu','ramesh']]
for j in range(len(y)):
    if j == 0:
        z = dict.fromkeys(t,y[j])
print(z)

{'sno': [1, 2, 3], 'name': [1, 2, 3]}

In [79]:
for i,j in zip(t,y):
    print(i,j)

sno [1, 2, 3]
name ['ramu', 'ramesh']

In [80]:
print(cnt)

{'ramu': 7845896854, 'prasad': 8978458785, 'kiran': 7854785985}

In [81]:
for i in cnt:
    print(i)

ramu
prasad
kiran

In [82]:
for i in cnt.keys():
    print(i)

ramu
prasad
kiran

In [85]:
for i in cnt.items():
    print(i)

('ramu', 7845896854)
('prasad', 8978458785)
('kiran', 7854785985)

In [1]:
cnt = {}

In [14]:
print("1.Create User\n2.Update User\n3.Delete User\n4.View User\n5.Display All Users")
op = int(input("Enter Your Choice: "))
if op == 1:
    cn = input("Enter Your Name: ")
    if cn not in cnt.keys():
        mb = int(input("Enter Your Mobile Number: "))
        if len(str(mb)) == 10:
            cnt[cn] = mb
            print("{} Saved Successfully".format(cn))
        else:
            print("Please Enter Correct Mobile Number")
    else:
        print("{} Contact Already Exists".format(cn))
elif op == 2:
    na = input("Enter Contact Name to Update: ")
    if na not in cnt.keys():
        print("{} Contact Doesnt Exists".format(na))
    else:
        mb = int(input("Enter Mobile number: "))
        if cnt[na] == mb:
            print("No Update in Contact Mobile Number")
        else:
            if len(str(mb)) == 10:
                cnt[na] = mb
            else:
                print("Please Enter Correct Mobile Number")
elif op == 3:
    na = input("Enter Contact Name to Delete: ")
    if na not in cnt.keys():
        print("{} Contact Doesnt Exists".format(na))
    else:
        cnt.pop(na)
        print("{} Contact Deleted Successfully".format(na))
elif op == 4:
    na = input("Enter Contact to Display: ")
    if na not in cnt.keys():
        print("{} Contact Doesnt Exists".format(na))
    else:
        print("Contact Name is: {}\nContact Mobile Number is: {}"
              .format(na,cnt[na]))
elif op == 5:
    print("================ Contact List ===============")
    print("Contact Name    |   Mobile Number")
    print("----------------------------------")
    for i,j in cnt.items():
        print("{}     |     {}".format(i,j))
    print("====================================")
else:
    print("Other Choice")

1.Create User
2.Update User
3.Delete User
4.View User
5.Display All Users
Enter Your Choice: 5
================ Contact List ===============
Contact Name    |   Mobile Number
----------------------------------
ramesh     |     9874857854
somu     |     7485965124
====================================

In [91]:
u = 7898745874
len(str(u))

10

In [99]:
h = {'ramu':7898748578}
b = int(input())
if h['ramu'] == b:
    print(h['ramu'])
else:
    print("None")

4654
None

In [96]:
h['ramu']

7898748578

In [12]:
cnt

{'ramesh': 9874857854, 'somu': 7485965124}

In [13]:
for i,j in cnt.items():
    print("{} => {} ".format(i,j))

ramesh => 9874857854
somu => 7485965124

```
Input:
    10
    1
    2
    3
    4
    2
    1
    2
    35
    2
    7
Output:
    1 => 2
    2 => 4
    3 => 1
    4 => 1
    7 => 1
    35 => 1
```

## String:
    - It can be enclosed with ' or "
    - It can't changes the value if it is changed then the id of string variable will be changed
    - Slicing can be done because of index
    - It can be typecasted as str()
    - It can stores the data in ordered format

In [16]:
r = 'this is sample example'
print(r,type(r))

this is sample example <class 'str'>

In [17]:
for i in r:
    print(i)

t
h
i
s

i
s

s
a
m
p
l
e

e
x
a
m
p
l
e

In [19]:
for i in range(len(r)):
    print(i,r[i])

0 t
1 h
2 i
3 s
4
5 i
6 s
7
8 s
9 a
10 m
11 p
12 l
13 e
14
15 e
16 x
17 a
18 m
19 p
20 l
21 e

In [20]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [27]:
g = "This Is aN EXamPle"
print(g.capitalize())
print(g.title())
print(g.swapcase())
print(g.upper())
print(g.lower())
print(g.casefold())

This is an example
This Is An Example
tHIS iS An exAMpLE
THIS IS AN EXAMPLE
this is an example
this is an example

In [31]:
t = "         Example For StringS    "
print(t.strip())
print(t.rstrip())
print(t.lstrip())

Example For StringS
         Example For StringS
Example For StringS

In [41]:
f = "Sample Example for Python Strings"
print(f.split())
print(f.split('E'))
print(f.rsplit())
print(f.rsplit('S'))
print(f.split('S'))

['Sample', 'Example', 'for', 'Python', 'Strings']
['Sample ', 'xample for Python Strings']
['Sample', 'Example', 'for', 'Python', 'Strings']
['', 'ample Example for Python ', 'trings']
['', 'ample Example for Python ', 'trings']

In [34]:
k = "23 876 98 786 6 967"
print(k.split())

['23', '876', '98', '786', '6', '967']

In [36]:
v = input().split(",")
print(v,type(v))

12 45 8, 135 54 545
['12 45 8', ' 135 54 545 '] <class 'list'>

In [44]:
print(f.splitlines())

['Sample Example for Python Strings']

In [45]:
w = '''asjdhasd
askjdkasd
askdkabndxjnvkjnxv
dkvbhbxvhbhjvbdvc
'''
print(w.splitlines())

['asjdhasd', 'askjdkasd', 'askdkabndxjnvkjnxv', 'dkvbhbxvhbhjvbdvc']

In [47]:
print(f)
print(f.index('q'))

Sample Example for Python Strings

ValueError: substring not found

In [53]:
print(f)
print(f.index('e'))
print(f.rindex('e'))
print(f.find('y'))
print(f.find('Z'))
print(f.rfind('s'))
print(f.rfind('/'))

Sample Example for Python Strings
5
13
20
-1
32
-1

In [58]:
print(f)
print(f.count('S'))
print(f.zfill(40))

Sample Example for Python Strings
2
0000000Sample Example for Python Strings

In [63]:
t = "   adakjd asd asd"
r = "jasvavsd asj ajc    "
print(t.ljust(50))
print(r.ljust(50))
print(t.rjust(50))
print(r.rjust(50))

   adakjd asd asd
jasvavsd asj ajc
                                    adakjd asd asd
                              jasvavsd asj ajc

In [67]:
d = "sdg"
print(d*3)

sdgsdgsdg

In [82]:
print('-'*20 + "|" +'-'*20)
print("Contact Name".ljust(20)+"|"+" "+"Mobile Number".ljust(20))
print('-'*20 + "|" +'-'*20)
print("Ramu".ljust(20)+"|"+" "+"7857857485".ljust(20))
print("Lokesh".ljust(20)+"|"+" "+"7857857485".ljust(20))

--------------------|--------------------
Contact Name        | Mobile Number
--------------------|--------------------
Ramu                | 7857857485
Lokesh              | 7857857485

In [89]:
r = "78846465465"
print(r.startswith('8'))
print(r.endswith('0'))

False
False

In [91]:
print(r)
r = "-".join(r)
print(r)

78846465465
7-8-8-4-6-4-6-5-4-6-5

In [101]:
h = input().split()
# print(h)
for i in range(len(h)):
    d = ".com,".join(h[i])
print(d)

ramesh kumar
k.com,u.com,m.com,a.com,r

In [104]:
for j in h:
    m = j+".com"
    print(m)

ramesh.com
kumar.com

In [105]:
h

['ramesh', 'kumar']

In [106]:
".com,".join(h)

'ramesh.com,kumar'

## Set:
    - It can be represented as {} but it should included with any single character or a value
    - It cant allows the duplicate elements
    - It can stores data in ordered but in print it will displays as unordered format
    - It can be typecasted as set()
    - Slicing cant be done be cause of no index
    - It can changes the values of a set

In [107]:
e = {}
w = {'s'}
print(e,type(e))
print(w,type(w))

{} <class 'dict'>
{'s'} <class 'set'>

In [110]:
q = {1,78,45.000,456,'45.120','1',1,1,1,1,1,1,1}
print(q)

{1, 456, 45.0, 78, '1', '45.120'}

In [111]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [114]:
y = {1,45,200,3,456}
print(y)
y.add(1)
print(y)
y.add(0.12)
print(y)
y.add(23,89)
print(y)

{1, 3, 200, 456, 45}
{1, 3, 200, 456, 45}
{0.12, 1, 3, 200, 456, 45}

TypeError: add() takes exactly one argument (2 given)

In [116]:
print(y)
p =[45,'prasad',456,8]
y.add(p)
print(y)

{0.12, 1, 3, 200, 456, 45}

TypeError: unhashable type: 'list'

In [119]:
q = {1,5,7,8,6,51,54,2}
c = {5,53,1,53,53,435,7,351,354,2}
print(q)
print(c)
print(q.union(c))
print(q)
print(c)

{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}
{1, 2, 354, 5, 6, 7, 8, 51, 435, 53, 54, 351}
{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}

In [120]:
print(q)
print(c)
print(q.intersection(c))
print(q)
print(c)

{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}
{1, 2, 5, 7}
{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}

In [121]:
print(q)
print(c)
print(q.difference(c))
print(q)
print(c)

{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}
{8, 54, 51, 6}
{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}

In [123]:
print(q)
print(c)
print(c.symmetric_difference(q))
print(q)
print(c)

{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}
{354, 6, 8, 51, 435, 53, 54, 351}
{1, 2, 5, 6, 7, 8, 51, 54}
{1, 354, 2, 5, 7, 435, 53, 351}

In [125]:
print(q)
print(q.pop())
print(q)

{2, 5, 6, 7, 8, 51, 54}
2
{5, 6, 7, 8, 51, 54}

In [126]:
print(q)
print(q.pop(8))
print(q)

{5, 6, 7, 8, 51, 54}

TypeError: pop() takes no arguments (1 given)

In [127]:
print(q)
print(q.remove())
print(q)

{5, 6, 7, 8, 51, 54}

TypeError: remove() takes exactly one argument (0 given)

In [129]:
print(q)
print(q.remove(8))
print(q)

{5, 6, 7, 8, 51, 54}
None
{5, 6, 7, 51, 54}

In [130]:
print(q)
print(q.remove('prasad'))
print(q)

{5, 6, 7, 51, 54}

KeyError: 'prasad'

In [132]:
print(q)
print(c)
q.intersection_update(c)
print(q)
print(c)

{5, 7}
{1, 354, 2, 5, 7, 435, 53, 351}
{5, 7}
{1, 354, 2, 5, 7, 435, 53, 351}

In [133]:
y = {1,4,3,10,65,5,654,6,5}
a = {1,3,4,5,78,465,45,46,40,54,8}
print(y)
print(a)

{65, 1, 3, 4, 5, 6, 10, 654}
{1, 3, 4, 5, 40, 8, 45, 78, 46, 465, 54}

In [134]:
print(y)
print(a)
y.intersection_update(a)
print(y)
print(a)

{65, 1, 3, 4, 5, 6, 10, 654}
{1, 3, 4, 5, 40, 8, 45, 78, 46, 465, 54}
{1, 3, 4, 5}
{1, 3, 4, 5, 40, 8, 45, 78, 46, 465, 54}

In [135]:
print(y)
print(a)
a.difference_update(y)
print(y)
print(a)

{1, 3, 4, 5}
{1, 3, 4, 5, 40, 8, 45, 78, 46, 465, 54}
{1, 3, 4, 5}
{40, 8, 45, 78, 46, 465, 54}

In [136]:
print(y)
print(a)
a.symmetric_difference_update(y)
print(y)
print(a)

{1, 3, 4, 5}
{40, 8, 45, 78, 46, 465, 54}
{1, 3, 4, 5}
{1, 4, 3, 5, 40, 8, 45, 78, 46, 465, 54}

In [141]:
print(y)
print(a)
a.discard(40)
print(y)
print(a)

{1, 3, 4, 5}
{1, 4, 3, 5, 8, 45, 78, 46, 465, 54}
{1, 3, 4, 5}
{1, 4, 3, 5, 8, 45, 78, 46, 465, 54}

In [143]:
print(a)
a.discard(75)
print(a)

{1, 4, 3, 5, 8, 45, 78, 46, 465, 54}
{1, 4, 3, 5, 8, 45, 78, 46, 465, 54}